.vc-ActionSheetItem
  position: relative
  z-index: 2
  overflow: hidden
  display: flex
  align-items: center
  color: currentColor
  text-decoration: none
  cursor: default
  box-sizing: border-box

.vc-ActionSheetItem__container,
.vc-ActionSheetItem__before
  position: relative
  z-index: 2

.vc-ActionSheetItem__before
  flex-shrink: 0


.vc-ActionSheetItem__container
  max-width: 100%
  flex-grow: 1

.vc-ActionSheetItem--cancel
  display: block
  width: auto
  margin-top: 7px
  font-size: 17px
  margin-bottom: var(--safe-area-inset-bottom)
  font-weight: 500
  border-top-left-radius: 14px
  border-top-right-radius: 14px
  order: 1
  text-align: center

.vc-ActionSheetItem
  color: var(--action_sheet_action_foreground)

.vc-ActionSheetItem--destructive
  color: var(--destructive)
